SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=9099
DB_URL=jdbc:postgresql://192.168.0.46:5432/ErpEpmapaT
DB_USER=postgres
DB_PASS=3pmapaT24
MAIL_HOST=smtp.elasticemail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
